<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="card bg-warning p-4 border-card" style="width: 100%">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-6">
              <div class="card bg-light p-3 border-card-1">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="text-center">14.70% E.A</h2>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="text-center">180 dias</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card bg-light p-3 border-card-2">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="text-center">14,60% E.A</h2>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="text-center">360 Dias</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-3">
            <div class="col-12">
              <ul>
                <li>Apertura 100% digital</li>
                <li>recibe tus intereses cada tres meses o al vencimiento</li>
                <li>Desde $100.000</li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-start ml-5">
            <div class="col-6">
              <div class="ml-5">
                <button type="button" class="btn btn-light rounded-pill p-3">
                  Quiero el CDT
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
