<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="card bg-warning p-4 border-card" style="width: 100%">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-6">
              <div class="card bg-light p-3 border-card-1">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="text-center">14.70% E.A</h2>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="text-center">180 dias</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card bg-light p-3 border-card-2">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="text-center">14,60% E.A</h2>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <p class="text-center">360 Dias</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-3">
            <div class="col-12">
              <ul>
                <li>Apertura 100% digital</li>
                <li>recibe tus intereses cada tres meses o al vencimiento</li>
                <li>Desde $100.000</li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-start ml-5">
            <div class="col-6">
              <div class="ml-5">
                <button
                  type="button"
                  class="btn btn-light rounded-pill p-3"
                  (click)="onNavigate()"
                >
                  Quiero el CDT
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <section class="body mt-5">
  <h2>Preguntas frecuentes</h2>
  <ul>
  <li class="card">
  <h3 class="card-header">¿Qué es un CDT?</h3>
  <p class="card-body">Un certificado de depósito a término (CDT) es un producto de inversión, donde dejas tu dinero invertido por un plazo determinado, y por el cual te pagan una rentabilidad que conoces y pactas con el banco desde el inicio. El CDT Damasu tiene dos plazos 180 dias y 360 dias.</p>
  </li>
  <li class="card">
  <h3 class="card-header">¿Cuántos titulares puede tener un CDT ?</h3>
  <p class="card-body">El CDT puede tener uno o máximo dos titulares.</p>
  </li>
  <li class="card">
  <h3 class="card-header">¿El CDT está protegido por el Seguro de Depósitos de Fogafin?</h3>
  <p class="card-body">Sí, el CDT es un producto que está protegido por Damasu seguros, su cobertura es de máximo $50.000.000 por persona y por entidad.</p>
  </li>
  </ul>
  </section>
  
  
